<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="
	   http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="domainObjectDao" class="dao.DomainObjectDao">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="menuDao" class="dao.MenuDao">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="menuItemDao" class="dao.MenuItemDao">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="orderDao" class="dao.OrderDao">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="productDao" class="dao.ProductDao">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="providerDao" class="dao.ProviderDao">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="userDao" class="dao.UserDao">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
</beans>
